<!DOCTYPE html>
<html lang="en">
  <%- include include/head.ejs %>
  <body>
    <div class="wrapper">
      <%- include include/header.ejs %>
      <main class="main">
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-join-box">
                            <img src="/public/assets/images/index/img_1up-glowing.png" class="oneup-icon" />
                            <p style="color: #91FAFF; font-size:2em; text-align: center; margin:0">
                                STEEM JUST GOT
                            </p>
                            <p style="color:#FFF; font-size:3em; text-align: center; font-weight: 500; font-style: italic; margin: 16px 0 16px 0;">SUPER POWERED.</p>

                            <button class="purple-button glow" style="width: 100%">
                                JOIN THE REVOLUTION
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <img src="/public/assets/images/index/img_mascot_strong.png" class="hero-mascot" />
                    </div>
                </div>
            </div>
        </section>

        <section class="upvote">
            <div class="container">
                <h1 class="steem-upvote">STEEM UPVOTE 2.0</h1>

                <p class="text-green">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat mauris. Mauris lobortis aliquet aliquam. Pellentesque laoreet justo libero, non blandit eros luctus ut. Maecenas sodales urna ac nisl consequat imperdiet. Nulla facilisi. Ut et leo efficitur dui venenatis pretium a a eros. Phasellus nisi metus, iaculis accumsan aliquet eu, pretium ac justo. Nunc pretium sed nulla ac feugiat. Etiam ac nunc accumsan, laoreet libero non, viverra nunc. Aenean luctus mattis nulla quis faucibus.
                </p>

                <div class="row">
                    <div class="col col-sm-12 col-md-6">
                        <div class="way-box grey">
                            <p class="header">
                                OLD WAY
                            </p>

                            <p class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat maLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                            </p>
                        </div>
                    </div>

                    <div class="col col-sm-12 col-md-6">
                        <div class="way-box purple">
                            <p class="header">
                                NEW WAY
                            </p>

                            <p class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat maLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom: 1em">
                <div class="col-4 d-none d-md-block">
                    <img src="/public/assets/images/index/img_energy-line.svg" style="display: block;" />
                </div>

                <div class="col-sm-10 col-md-4">
                    <a href="#" class="purple-button lear-more-button">
                        LEARN MORE
                    </a>
                </div>

                <div class="col-4 d-none d-md-block">
                    <img src="/public/assets/images/index/img_energy-line.svg" style="display: block;" />
                </div>
            </div>
        </section>

        <section class="join-a-group">
            <div class="container">
                <h2 class="section-header">JOIN A GROUP!</h2>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat maLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                        </p>
                    </div>
                    <div class="col-6 d-none d-md-block">
                        <img src="/public/assets/images/index/img_group-metrics.svg" style="display: block; width: 98%; margin: auto; max-width: 432px;" />
                    </div>
                </div>

                <div style="margin-top: 5em; padding-bottom: 3em">
                    <a href="#" class="pink-button" style="display: block; width: 100%; max-width: 400px; margin: auto">
                        SEE GROUPS
                    </a>
                </div>
            </div>
        </section>

        <section id="rise-to-top">
            <div class="container">
                <div class="row" style="padding-bottom: 1em">
                    <div class="col-md-6 d-none d-md-block">
                        <img src="/public/assets/images/index/img_mascot_pointing.png" class="mascot-pointing-desktop" />
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h1 class="section-header" style="color: #491E5F;">RISE TO THE TOP!</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat mauris. Mauris lobortis aliquet aliquam. Pellentesque laoreet justo libero, non blandit eros luctus ut. Maecenas
                        </p>
                        <p>
                            sodales urna ac nisl consequat imperdiet. Nulla facilisi. Ut et leo efficitur dui venenatis pretium a a eros. Phasellus nisi metus,
                        </p>
                        <p>
                            iaculis accumsan aliquet eu, pretium ac justo. Nunc pretium sed nulla ac feugiat. Etiam ac nunc accumsan, laoreet libero non, viverra nunc. Aenean luctus mattis nulla quis faucibus.
                        </p>

                        <div style="padding-top:3em; bottom: 3em;">
                            <a href="#" class="purple-button" style="width: 98%; margin: auto; max-width: 390px;">
                                SEE TOP POSTS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="up-token">
            <div class="container">
                <div class="row" style="padding-top: 3em; padding-bottom: 3em">
                    <div class="col-sm-12 col-md-6">
                        <div class="black-box">
                            <h1 class="section-header" style="padding:0"> 1UP: THE TOKEN</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat ma
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat maLorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>

                            <div style="padding-top: 2em">
                                <a href="#" class="purple-button glow" style="width: 100%; max-width: 390px; margin: auto">
                                    SEE AIRDOPS
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="token-distribution">
            <div class="container">
                <h1 class="section-header text-purple">TOKEN DISTRIBUTION</h1>
                <p class="text-green">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat mauris. Mauris lobortis aliquet aliquam. Pellentesque laoreet justo libero, non blandit eros luctus ut. Maecenas sodales urna ac nisl consequat imperdiet. Nulla facilisi. Ut et leo effic
                </p>

                <img src="/public/assets/images/index/token-chart.png" class="center-image" />
            </div>
        </section>

        <section id="subscribe">
            <div class="container">
                <h1 class="section-header text-white">DON'T MISS OUT</h1>
                <p class="text-white text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel erat maj asldkn; falk awen;kh k!
                </p>

                <div class="subscribe-form-wrapper">
                    <input title="email" placeholder="YOUR EMAIL" type="email" class="plain-input" style="margin-bottom: 0.5em" />

                    <button class="pink-button" style="width: 100%;">SUBSCRIBE</button>
                </div>
            </div>
        </section>
      </main>
    
      <%- include include/footer.ejs %>
    </div>

    <script>
      var menuSelector,
          mobileMenu;
  
      window.onload = function() {
        menuSelector = document.getElementById("mobile-menu-selector");
        mobileMenu = document.getElementById("mobile-menu");
  
        menuSelector.addEventListener("click", toggle_menu);
      };
  
      function toggle_menu() {
          if(mobileMenu === undefined)
            return;
  
          if(mobileMenu.className.indexOf("open") === -1)
            mobileMenu.className = mobileMenu.className + " open";
          else
            mobileMenu.className = mobileMenu.className.replace(/\s?open/, "");
      }
    </script>

  </body>
</html>
