<html lang="en">
  <%- include include/head.ejs %>
    <body>
        <div class="container">
            <%- include include/header.ejs %>
            <div class='outline'>
                <div id="inner">
                    <h2>Pending tokens</h2>
                    You can approve moderator token sends either by upvoting comments, or approving them here.
                    <label for="key">To approve tokens, enter the posting key: </label><input type="password" id="key" />
                    <ul id="pending-list"></ul>
                    <script>
                    var data = <%- JSON.stringify(posts) %>;
                    var html = "";
                    var send;
                    for (var postId in data) {
                        send = data[postId];
                        html +=
                        "<li style = '" +
                        (send.used ? "text-decoration: line-through;color:#737373;" : "") +
                        "'>" +
                        send.amount +
                        " UP to @" +
                        send.account +
                        (send.used ? "" : "<button class='approve-button' id='" + postId + "'>Approve</button></li>")
                        ;
                    }
                    document.getElementById("pending-list").innerHTML = html;
                    var buttons = document.getElementsByClassName("approve-button");
                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].addEventListener("click", function() {
                            this.style.display = "none";
                            this.parentElement.style.textDecoration = "line-through";
                            this.parentElement.style.color = "#737373";
                            var button = this;
                            data[this.id].reason = ["modcomment", this.id];
                            steem.broadcast.customJson(
                                document.getElementById("key").value,
                                [],
                                ["steem-1up"],
                                "1up",
                                JSON.stringify(data[this.id]),
                                function(err, res) {
                                if (err) {
                                    button.style.display = "inline";
                                    button.parentElement.style.textDecoration = "";
                                    button.parentElement.style.color = "black";
                                    console.log(err);
                                    if (err.message.indexOf("Expected version") === 0) {
                                    alert("You didn't enter the right posting key. Make sure you've entered the right key at the top of the page, and try again.");
                                    return;
                                    }
                                    if (err.message === "private_key required") {
                                    alert("Please enter the posting key at the top of the page.");
                                    return;
                                    }
                                    alert("There was an unknown issue issue approving this: " + err.toString());
                                    return;
                                }
                                alert("Succesfully approved! This might take up to a minute to process on the blockchain. Don't try to approve this again.");
                            })
                        });
                    }
                    </script>
                </div>
            </div>
            <%- include include/footer.ejs %>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
        <script src="/public/assets/js/scripts.js"></script>
    </body>
</html>
