<footer id="footer" class="align-center">
    <p>Created with <span class="heart">♥</span> for Steem and Utopian</p>
    <p>Idea by <a href="https://steemit.com/@flauwy" target="_blank">@flauwy</a>,
        development by <a href="https://steemit.com/@stoodkev" target="_blank">@stoodkev</a>,
        design by <a href="https://steemit.com/@andrejcibik" target="_blank">@andrejcibik</a>.</p>
</footer>
