<footer>
    <div class="container">
        <div class="footer-content">
            <span class="copyright text-blue">&copy; 2019, 1UP. All rights reserved.</span>

            <div class="social-links">
            <span class="social-link">
                <a href="https://steemit.com/@steem-1up" target="_blank">
                    <img src="/public/assets/images/global/social_steem.svg" />
                </a>
            </span>
                <span class="social-link">
                <a href="https://discord.gg/g2a5BzB" target="_blank">
                    <img src="/public/assets/images/global/social_discord.svg" />
                </a>
            </span>
            </div>
        </div>
    </div>
</footer>