            <div class="header">
                <div class="wrapper">
                    <a href="/"><img class="logo" src="/public/assets/images/logo.svg" alt="1UP logo" title="1UP"></a>
                    <span class="menu-main-button">
    						<span class="bar bar-1"></span>
                    <span class="bar bar-2"></span>
                    <span class="bar bar-3"></span>
                    </span>
                    <ul class="menu-main">
                        <% if(!session.loggedIn){ %>
                        <li><a href="/login" class="item">Login</a></li>
                        <% } else { %>
                        <select id="loggedIn">
                          <option class="no_link">@<%= session.name%></option>
                          <% if(session.communities!==null)
                          {
                            for (com of JSON.parse(session.communities)) {  %>
                          <option value="/view/<%= com.name %>"><%= com.name %></option>
                            <% }} %>
                          <option value="/create">Create Community</option>
                          <option value="/logout">Logout</option>
                        </select>
                        <% } %>
                        <li><a href="https://steemit.com/utopian-io/@flauwy/steemy-ep-46-how-to-create-and-follow-a-curation-trail-with-steemauto"
                                target="_blank" class="item">How to vote?</a></li>
                        <li><a href="https://steemit.com/curation/@flauwy/utopian-1up-a-lucrative-steem-trail-for-the-best-daily-utopian-contributions"
                                target="_blank" class="item">About</a></li>
                        <li><a href="https://github.com/therealFlauwy/1UP" target="_blank"
                                        class="item icon-github" title="1UP on Github"></a></li>
                    </ul>
                </div>
            </div>
