<head>
    <title>1UP</title>
    <meta name="theme-color" content="#993493">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- <link href="/public/assets/fonts/icon-font.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">-->

    <!-- FavIcon -->
    <link rel="shortcut icon" type="image/x-icon" href="public/assets/images/favicon.png?v=1"
    />
    <link rel="apple-touch-icon" href="public/assets/images/favicon-touch.png?v=2" />    
</head>
