@font-face {
    font-family: 'icon-font';
    src: url('../fonts/icon-font.ttf?11r5en') format('truetype'),
    url('../fonts/icon-font.woff?11r5en') format('woff'),
    url('../fonts/icon-font.svg?11r5en#icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-1up:before {
    content: "\e901";
}

.icon-steemit:before {
    content: "\e902";
}

.icon-utopian:before {
    content: "\e903";
}

.icon-busy:before {
    content: "\e904";
}

.icon-steem:before {
    content: "\e900";
}

.icon-angle-left:before {
    content: "\f104";
}

.icon-angle-right:before {
    content: "\f105";
}

.icon-angle-up:before {
    content: "\f106";
}

.icon-angle-down:before {
    content: "\f107";
}

.icon-email:before {
    content: "\e159";
}

.icon-github:before {
    content: "\eab0";
}